<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.CustomerMapper">
    <insert id="insert">
        insert into org_contactor
        (contactor_name,contactor_phone,contactor_position,org_id)
        values (#{contactorName},#{contactorPhone},#{contactorPosition},#{orgId})
    </insert>
    <delete id="delete">
        delete from org_contactor
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </delete>

    <select id="query" resultType="com.czxy.manage.model.entity.CustomerEntity">
        select oc.id,o.name as orgName,oc.contactor_position as contactorPosition
        ,oc.contactor_phone as contactorPhone,c.name as className
        ,oc.contactor_name as contactorName
        ,o.star as orgStar,o.id as orgId
        from org_contactor oc
        left join org o
        on oc.org_id = o.id
        left join class c
        on c.org_id=o.id
        where 1=1
        <if test="param != null and param != ''">
            and (o.name like '%${param}%' or oc.contactor_name like '%${param}%')
        </if>
        <if test="star != null and star != ''">
            and o.star= #{star}
        </if>
        order by id desc
    </select>

    <update id="update">
        update org_contactor set contactor_name = #{contactorName}
        ,contactor_phone = #{contactorPhone}
        ,contactor_position = #{contactorPosition},updated_time= now()
        where id = #{id}
    </update>
    <update id="updateAll">
        update org_contactor set contactor_name = #{contactorName}
                               ,contactor_phone = #{contactorPhone}
                               ,contactor_position = #{contactorPosition},updated_time= now()
        where org_id = #{orgId}
    </update>
</mapper>