<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.MessageMapper">
    <insert id="batchInsert">
        insert into message(user_id, message, is_to_all,created_time)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.userId},#{item.message},#{item.isToAll},now())
        </foreach>
    </insert>
    <select id="query" resultType="com.czxy.manage.model.entity.MessageEntity">
        select message ,created_time as createdTime from message where user_id = #{userId}
        <if test="param!=null and param !=''">
            message like '%${param}%'
        </if>
        order by created_time desc
    </select>
    <select id="queryByUserId" resultType="com.czxy.manage.model.entity.MessageEntity">
        select
        m.message,m.created_time as createdTime
        from user u
        left join message m
        on u.id=m.user_id
        where u.id=#{userId}
        order by m.created_time desc
        limit 1
    </select>
</mapper>