<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.MessageMapper">
    <insert id="batchInsert">
        insert into message(user_id, message, is_to_all,created_time)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.userId},#{item.message},#{item.isToAll},now())
        </foreach>
    </insert>
</mapper>