<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.OptionMapper">
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into w_option
        (name, score, `index`,stem_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.score},#{item.index},#{item.stemId})
        </foreach>

    </insert>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";" close="" open="" index="index">
            update w_option set name =#{item.name}
            , score = #{item.score},`index` = #{item.index},stem_id = #{item.stemId},
            updated_time = now()
            where id = #{item.id};
        </foreach>
    </update>
    <update id="update" parameterType="java.util.List">
        update w_option set name =#{name}
                , score = #{score},`index` = #{index},stem_id = #{stemId},
                            updated_time = now()
        where id = #{id};
    </update>
    <delete id="deleteByStemId">
        delete
        from w_option
        where stem_id = #{stemId}
    </delete>
</mapper>