<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.OptionMapper">
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into w_option
        (name, score, `index`, type,stem_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.score},#{item.index},#{item.type},#{item.stemId})
        </foreach>

    </insert>
    <update id="batchUpdate">

    </update>
    <delete id="deleteByStemId">
        delete from w_option where stem_id = #{stemId}
    </delete>
</mapper>