<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.OrgMapper">
    <insert id="insertOrg" parameterType="com.czxy.manage.model.entity.OrgEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into org (name, address_id) values (#{name},#{addressId});
    </insert>
    <update id="update">
        update org set  name=#{name}, address_id=#{addressId},updated_time= now() where id=#{id}
    </update>
    <select id="query" resultType="com.czxy.manage.model.entity.OrgEntity">
        select name from org where id = #{orgId}
    </select>
</mapper>