<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.PaperSendMapper">


    <insert id="batchInsert">
        insert into w_paper_send (is_to_all, user_id, paper_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.isToAll},#{item.userId},#{item.paperId})
        </foreach>
    </insert>
    <select id="countByPaperId" resultType="java.lang.Integer">
        select count(1) from w_paper_send where paper_id  =#{paperId}
    </select>
</mapper>