<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.PaperMapper">

    <update id="updateState">
        update w_paper set state = #{state},updated_time = now() where id = #{paperId}
    </update>
    <select id="query" resultType="com.czxy.manage.model.entity.PaperEntity">
        select p.name,p.description,ps.state from w_paper p
        left join w_paper_send ps
        on p.id = ps.paper_id
        where ps.paper_id = #{paperId} and ps.user_id=#{userId}
    </select>
</mapper>