<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.PlanMapper">
    <insert id="insert">
        insert into plan
        (arrange_id, files, name, types, description, org_id, state, train_time, selfContactorName,num)
        values (#{arrangeId}, #{files}, #{name}, #{types}, #{description},
                #{orgId}, #{state}, #{trainTime}, #{selfContactorName},#{num})
    </insert>
    <delete id="delete">
        delete from plan
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="query" resultType="com.czxy.manage.model.entity.PlanEntity">
        select id,name,types,description,arrange_id as arrangeId
        from plan
        where 1=1
        <if test="param != null and param != ''">
            and name like '%${param}%'
        </if>
        <if test="typeId != null and typeId != ''">
            and (types like '${typeId},%' or types like '%,${typeId}' or types like '%,${typeId},%' or types =
            #{typeId})
        </if>
        order by id desc
    </select>

    <update id="update">
        update plan
        set arrange_id        = #{arrangeId}
          , files             = #{files}
          , types             = #{types}
          , description       = #{description}
          , name              = #{name}
          , num=#{num}
          , composition_id    = #{compositionId}
          , train_time=#{trainTime}
          , state=#{state}
          , selfContactorName = #{selfContactorName}
          , updated_time=now()
        where id = #{id}
    </update>
</mapper>