<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.SiteMapper">

    <insert id="insert"  parameterType="com.czxy.manage.model.entity.SiteEntity" useGeneratedKeys="true"
            keyProperty="id">
    insert into site
    (name, types, contactor_name, contactor_phone, topics, drive_time, addr, description, pics, attach_files, province_id, city_id, county_id, fee)
     VALUES
     (#{name},#{types},#{contactorName},#{contactorPhone},#{topics},#{driverTime},#{addr},#{description},#{pics},#{attchFiles},#{provinceId},#{cityId},#{countyId},#{fee})
    </insert>
</mapper>