<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.SiteMapper">

    <insert id="insert"  parameterType="com.czxy.manage.model.entity.SiteEntity" useGeneratedKeys="true"
            keyProperty="id">
    insert into site
    (name, types, contactor_name, contactor_phone, topics, drive_time, addr, description, pics, attach_files, province_id, city_id, county_id, fee)
     VALUES
     (#{name},#{types},#{contactorName},#{contactorPhone},#{topics},#{driveTime},#{addr},#{description},#{pics},#{attachFiles},#{provinceId},#{cityId},#{countyId},#{fee})
    </insert>
    <update id="update">
        update site set name=#{name}, types=#{types},contactor_name=#{contactorName},contactor_phone=#{contactorPhone}, topics=#{topics},
        drive_time=#{driveTime},addr=#{addr},description=#{description},pics=#{pics},attach_files=#{attachFiles},province_id=#{provinceId},
        city_id=#{cityId},county_id=#{countyId},fee=#{fee},updated_time=now()
        where
        id=#{id}
    </update>
    <delete id="delete">
        delete from site where id in
        <foreach collection="siteIds" item="item" index="index"
                 open="(" separator="," close=")">#{item}
        </foreach>
    </delete>
    <select id="query" resultType="com.czxy.manage.model.entity.SiteEntity">
        select
        id,name,types,contactor_name as contactorName,contactor_phone as contactorPhone,topics,drive_time as driveTime,addr,
        description,pics,attach_files as attachFiles,province_id as provinceId,city_id as cityId,county_id as countyId,updated_time as updatedTime,created_time as  createdTime
        from
        site
    </select>
</mapper>