<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.SubjectMapper">
    <insert id="add" parameterType="com.czxy.manage.model.entity.SubjectEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into subject (name, content, types, files, teacher_id, category) values (#{name},#{content},#{types},#{files},#{teacherId},#{category})
    </insert>
    <update id="update">
        update subject
        set
        name = #{name}
        ,content=#{content}
        ,types=#{types}
        ,teacher_id =#{teacherId}
        ,category =#{category}
        ,updated_time = now()
        where id=#{id}
    </update>
    <delete id="delete">
        delete from subject where id in <foreach collection="subjectIds" item="item" index="index"
                                                 open="(" separator="," close=")">#{item}
                                        </foreach>
    </delete>

    <select id="query" resultType="com.czxy.manage.model.entity.SubjectDetailEntity">
        select
        s.name,u.name as teacherName,s.types,s.files
        from subject s
        left join teacher t
        on s.teacher_id=t.id
        left join user u
        on t.user_id=u.id
        where 1=1
        <if test="param != null and param != ''">
            and (s.name like '%${param}%' or u.name like '%${param}%')
        </if>
        <if test="typeId != null and typeId != ''">
            and (s.types like '${typeId},%' or s.types like '%,${typeId}' or s.types like '%,${typeId},%')
        </if>
        <if test="category != null and category != ''">
            and s.category=#{category}
        </if>
    </select>
    <select id="queryById" resultType="com.czxy.manage.model.entity.SubjectEntity">
        select
        name, content, types, files, teacher_id as teacherId, category
        from subject
        where id=#{subjectId}
    </select>
</mapper>