<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.TeacherMapper">
    <insert id="insert" parameterType="com.czxy.manage.model.entity.TeacherEntity" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO teacher (score, comment, user_id, system, skill, star, area) VALUES (#{score},#{comment},#{userId},#{system},#{skill},#{star},#{area})
    </insert>
</mapper>