<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.TeacherMapper">
    <sql id="base_column">
        id, score, user_id as userId,comment,system,
        skill,star,area
        updated_time as updatedTime, created_time as createdTime
    </sql>
    <insert id="insert" parameterType="com.czxy.manage.model.entity.UserEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into teacher (score, comment, user_id, `system`, skill, star, area) VALUES
        (#{score},#{comment},#{userId},#{system},#{skill},#{star},#{area})
    </insert>
    <update id="update">
        update teacher
        set score=#{score},comment=#{comment},`system`=#{system},skill=#{skill},star=#{star},area=#{area}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from teacher where id in
        <foreach collection="teacherIds" item="item" index="index"
                 open="(" separator="," close=")">#{item}
        </foreach>
    </delete>
    <select id="query" resultType="com.czxy.manage.model.entity.TeacherDetailEntity">
        select
        t.id as teacherId,
        t.score, t.user_id as userId,t.comment,t.system,
        t.skill,t.star,t.area,
        u.id, u.name, u.idcard, u.phone, u.gender, u.position, u.age, u.birthday, u.category,
        u.wechat_id as wechatId,
        u.org_id as orgId,
        u.nation,
        u.nativeplace as nativePlace,
        u.politics,
        t.begin_time as beginTime,t.end_time as endTime
         from
        teacher t
        left join user u
        on t.user_id = u.id
        where 1=1
        <if test="param != null and param != '' ">and u.name like '%${param}%'</if>
        <if test="skill != null and skill!='' ">and t.skill = #{skill}</if>
        <if test="star != null and star!='' ">and t.star = #{star}</if>
        order by t.id desc
    </select>
    <select id="queryUserId" resultType="java.lang.Integer">
        select user_id as userId from teacher where id=#{id}
    </select>
    <select id="queryAll" resultType="com.czxy.manage.model.entity.TeacherInformationEntity">
        select
        t.score,t.comment,t.user_id as userId,t.system,t.skill,t.star,t.area
        ,u.name,u.idcard as idCard,u.phone,u.gender,u.position,u.age,u.birthday,u.category
        ,u.wechat_id as wechatId,u.org_id as orgId,u.nation,u.nativeplace,u.education,u.politics
        ,s.name as subjectName,s.content,s.types,s.files,s.teacher_id as teacherId
        from teacher t
        left join user u
        on t.user_id=u.id
        left join subject s
        on t.id=s.teacher_id
        where t.id=#{teacherId}
    </select>
</mapper>