<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.TokenMapper">
    <sql id="base_column">
        id, account, token, expire,
        updated_time as updatedTime, created_time as createdTime
    </sql>
    <insert id="insert">
        insert into token(account, token, expire) VALUES (
        #{account},#{token},#{expire}
        )
    </insert>
    <update id="flushTime">
        update token set updated_time=SYSDATE() where token=#{token}
    </update>
    <delete id="delete">
        delete from token where account = #{account}
    </delete>
    <select id="tokenQuery" resultType="java.lang.Boolean">
        select count(1) from token where token=#{token} and now() - updated_time <![CDATA[<=]]>expire
    </select>
</mapper>