<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.TypeMapper">
    <sql id="base_column">
        id, name ,
        updated_time as updatedTime, created_time as createdTime
    </sql>
    <insert id="insert" parameterType="com.czxy.manage.model.entity.TypeEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into type (name, category) VALUES(#{name},0)
    </insert>
    <insert id="batchInsert" useGeneratedKeys="true"
            keyProperty="id">
        insert into type
        (name, category)
        VALUES
        <foreach collection="list" separator=";" item="item">
            (#{item.name},#{item.category})
        </foreach>
    </insert>

    <select id="queryAll" resultType="com.czxy.manage.model.entity.TypeEntity">
        select
        <include refid="base_column"/>
        from type
        where id in
        <foreach collection="types" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
    <select id="query" resultType="java.lang.String">
        select
        name
        from type
        where id=#{parseInt}
    </select>
    <select id="queryByKey" resultType="com.czxy.manage.model.entity.TypeEntity">
        select
        <include refid="base_column"></include>
        from type
        where category = #{category}
        <if test="key != null and key !=''">
            and name like '%${key}%'
        </if>
    </select>
</mapper>