<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czxy.manage.dao.UserAccountMapper">
    <sql id="base_column">
        a.id, a.account, a.user_id as userId
    </sql>

    <select id="query" resultType="com.czxy.manage.model.entity.AccountEntity">
        select
        <include refid="base_column"/>
        from account a
        left join token t
        on a.account = t.account
        where a.password = #{pwd} and t.token = #{token}
    </select>
    <select id="queryAll" resultType="com.czxy.manage.model.vo.user.UserAccountInfo">
        select
        a.account,a.password,
        name, idcard, phone, gender, position, age, birthday, category,
        wechat_id as wechatId,
        org_id as orgId,
        o.name as orgName,
        nation,
        a.created_time as createdTime,
        a.updated_time as updatedTime
        from account a
        left join 'user' u
        left join org o
        on a.user_id = u.id
        where u.name like '%${param}%'
        order by a.created_time
    </select>
</mapper>